<%- include('./partials/header.ejs')%>
    <main>
        <h1>About PlayGames!</h1>
        <p>Platform to create events related to games and connect with new people.</p>
        <p>Check out the Events section to browse available events!</p> 
    </main>
<%- include('./partials/footer.ejs')%>