<%- include('./partials/header.ejs')%>
    <main>
        <h1>Contact</h1>
        <p>Address - 3333 A Street, Charlotte, NC 28270</p>
        <p>Phone - (999) 999-9999</p>
    </main>
<%- include('./partials/footer.ejs')%>